<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h2>Se ha registrado un pedido nuevo en Tecnisolar</h2>
<p>Datos del solicitante:</p>
<%@params.each{|k,v|
  next if ["utf8","authenticity_token","commit","controller","action"].include?(k)%>
  <%=k%>: <%=v%><br>
<%}%>
<br>
<p>Detalle:</p>
<table class="order_sheet" border="1" width="80%">
	<tr><th>Producto</th><th align="center">Unidades</th><th align="center">Precio unitario</th><th align="right">Total por producto</th></tr>
      <%
      total_amount   = 0
      product_amount = 0
      @cart.items.each_key{|prod_id|
      p = Product.find(prod_id)
      u = @cart.items[prod_id]
      product_amount = p.price * u.to_i
      total_amount += product_amount
      %>
      <tr><td><%=p.name%></td><td align="center"><%=u.to_s%></td><td align="center"><%=p.price%>€</td><td align="right"><%=product_amount%>€</td></tr>
    <%}%>
</table>
<p>Total del pedido:</p>
<p>Base: <%=total_amount%>€</p>
<p>IVA: <%=Product.IVA_amount(total_amount)%>€</p>
<p>Total: <%=Product.amount_with_tax(total_amount)%>€</p>
</body>
</html>
