<div id="home-content-wrapper-bar">

<div id="separator"></div>
<div id="home-content-header-thinest">
<p class="intro-message"><strong>Listado de usuarios</strong></p>
</div>

<div id="home-content">

<table class="battle-table" border="0" width="50%">
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Modificar', edit_user_path(user) %></td>
    <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: '¿Eliminar usuario?' } %></td>
  </tr>
<% end %>
</table>

</div>
<hr>  
<div id="product_links"><%= link_to '< Ir a la tienda', products_path %></div>
<div id="product_links">
<%= link_to 'Crear nuevo usuario', new_user_path %> 
</div>
</div>
