<div id="home-content-wrapper">

<div id="home-content-header-thinest">
<p class="intro-message"><strong>Resetear contraseña</strong></p>
</div>

<div id="home-content">
<%= form_for @user, :as => :user, :url => forgot_password_path, :method => :put do |f| %>
  <p>
    <%= f.label 'Nombre de usuario o email:' %><br/>
    <%= f.text_field :username %>
    <%= show_field_error(@user, :username) %>
  </p>
  <p>
    <%= f.submit 'Enviar instrucciones' %>
  </p>
<% end %>
</div>
<div id="product_links"><%= link_to '< Ir a la tienda', products_path %></div>
</div>