<div id="home-content-wrapper">

<div id="home-content-header-thinest">
<p class="intro-message"><strong>Nueva contraseña</strong></p>
</div>

<div id="home-content">
<%= form_for @user, :as => :user, :url => password_reset_path, :method => :put do |f| %>
  <p>
    <%= @user.username %> ha solicitado el cambio de contraseña. Entra una nueva contraseña:
  </p>
  <p>
    <%= f.label 'Nueva contraseña:' %><br/>
    <%= f.password_field :new_password %>
    <%= show_field_error(@user, :new_password) %>
  </p>
  <p>
    <%= f.hidden_field :username %>
    <%= f.label 'Repite la contraseña:' %><br/>
    <%= f.password_field :new_password_confirmation %>
    <%= show_field_error(@user, :new_password_confirmation) %>
  </p>
  <p>
    <%= f.submit 'Modificar' %>
  </p>
<% end %>
</div>
<div id="product_links"><%= link_to '< Ir a la tienda', products_path %></div>
</div>