<%@product.categories.build%>
<%= form_for @product do |f| %>
  <% if @product.errors.any? %>
    <div id="flash_error">
      <h2><%= pluralize(@product.errors.count, "error") %> no permite guardar este producto:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
     Nombre:<br />
     <%= f.text_field :name %>
  </div>
  <div class="field">
     Imagen:<br />
     <%= image_tag(@product.image_path, :size => "150x150")%>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    Referencia:<br />
    <%= f.text_field :reference %>
  </div>
  <div class="field">
    Precio (sin IVA):<br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    Texto descriptivo:<br />
    <%= f.text_area :description %>
  </div>

  <div class="field">
    ¿Disponible?:<br />
    <%= f.check_box :available %>
  </div>

  <!-- Categories -->
  <hr>
  <div class="field">
  Categorías:
  <%= f.fields_for :product_categories, @product.initialized_categorizations do |builder| %>
    <% category = builder.object.category %>
    <%= builder.hidden_field :category_id %>
 
    <div class="field">
      <%= builder.label :enable, category.description %> 
      <%= builder.check_box :enable %>
    </div>
 
   <% end %>
  </div>
  <!-- /Categories -->
  <div class="actions">
    <%= f.submit "Guardar"%>
  </div>
<% end %>
