<div id="home-content-wrapper">

<div id="home-content-header-thinest">
    <p id="notice"><%= notice %></p>
    <p class="intro-message"><strong><%= @product.name %></strong><br>
      ref: <%= @product.reference %></p>
</div><!-- /home-content-header -->

  <div id="home-content">
    <div id="home-nav">
      <div class="home-nav-section-wide">
        <%= image_tag(@product.image_path, :size => "250x250")%>
      </div>
      
      <div class="home-nav-section-wideend last">
        <p><%= @product.description %></p>
        <div id="product_price">Precio: <%= @product.price %> €</div>
      </div>
      <div id="product_links"><%= link_to 'Comprar', add_to_cart_path(@product.id) %> - <%= link_to 'Volver atrás', products_path %>
       <%if current_user && current_user.admin?%>
        - <%= link_to 'Editar', edit_product_path(@product) %>
       <%end%>
      </div>
    </div><!-- /home-nav -->
  
    <div id="home-sidebar">
            <div class="home-sidebar-section">
                <h2>Mi cesta</h2>
                <p> Agregue productos pulsando el enlace de <strong>"Comprar"</strong> para añadirlos a su cesta de la compra.</p>
                <p>Una vez tenga decido el total de su compra proceda a completarla usando <strong>"Finalizar"</strong></p>
                <%if session[:cart]%>
                 <%= render "cart" %>
                 <div id="product_links"><%= link_to 'Vaciar carrito', clear_cart_path%> - <%= link_to 'Finalizar compra', clear_cart_path%></div>
                <%end%>
            </div>
            
   </div>
  </div><!-- /home-content -->

</div><!-- /home-content-wrapper -->